footer{
    background-image: linear-gradient(306deg, rgba(94, 94, 94, 0.04) 0%, rgba(94, 94, 94, 0.04) 48%,rgba(220, 220, 220, 0.04) 48%, rgba(220, 220, 220, 0.04) 100%),linear-gradient(268deg, rgba(232, 232, 232, 0.04) 0%, rgba(232, 232, 232, 0.04) 9%,rgba(135, 135, 135, 0.04) 9%, rgba(135, 135, 135, 0.04) 100%),linear-gradient(24deg, rgba(26, 26, 26, 0.04) 0%, rgba(26, 26, 26, 0.04) 47%,rgba(147, 147, 147, 0.04) 47%, rgba(147, 147, 147, 0.04) 100%),linear-gradient(206deg, rgba(235, 235, 235, 0.04) 0%, rgba(235, 235, 235, 0.04) 68%,rgba(140, 140, 140, 0.04) 68%, rgba(140, 140, 140, 0.04) 100%),linear-gradient(90deg, rgb(241, 196, 216),rgb(243, 196, 215));

}

.description{
    margin-top: 15px;
}

.description p{
    color: #666666;
}

.links{
    margin-top: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.links h5{
    font-family: 'Courgette';
    font-size: 34px;
    font-weight: 500;
    color: #85AD6E;
    text-transform: uppercase;
}

.links ul{
    
    font-size: 18px;
    margin-left: 20px;
}

.links ul li a{
    color: #F4903A;
    font-weight: 100;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links ul li a:hover{
    color: #f4913aa6;
}

.short{
    margin-top: 30px;
    text-decoration: none;
}

.short h5{
    font-family: 'Courgette';
    font-size: 34px;
    font-weight: 500;
    color: #85AD6E;
    text-transform: uppercase;
}

.short p{
    color: #666666;
}




.contact-icon i{
   font-size: 25px;
   margin-right:10px;
   color: #F4903A;
}

.social-icon a{
    background-color: #F4903A;
    color: #FAD8E6;
    border-radius: 100%;
    margin-right:15px;
   
}

.social-icon a{
    transition: .5s ease-in-out;
}

.social-icon a:hover{
    color: #FAD8E6;
    background-color: #f4913a7e;
}




/*scroll animation*/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}



@media screen and (max-width:1199px) {
    .description p{
        font-size: 15px;
    }

    

    .short p{
        font-size: 15px;
    }

    .links{
        font-size: 15px;
    }
    
}


@media screen and (max-width: 767px) {
   .links {
    display: block;
   }

   .links h5{
    font-size: 32px;
   }

   .links ul{
    font-size: 17px;
   }

   .short h5{
    font-size: 32px;
   }

   .short p{
    font-size: 15px;
   }

   .short a {
    font-size: 15px;
   }
    
}