

nav.navbar{
    background-color: white;
}

.panel-footer{
    background-color: white;
}


.dashboard{
    color: #ff7e06;
}

#menu-toggle{
    color:#eeaeca;
}

.dashboard-box{
    background-color: #f6d0de;
}

.details span{
    color: #85AD6E;
    font-size: 18px;
}


.details a{
    text-decoration: none;
}

.details i{
    font-size: 20px;
}